<div class="card" style="width: 100%;">
    <% if kitchen.photos.attached? %>
      <% kitchen.photos.each do |photo| %>
      <%= cl_image_tag photo.key, class: "card-img-top" %>
      <% end %>
    <% else %>
    <%= image_tag "kitchen_placeholder.jpg", class: "card-img-top" %>
    <% end %>
  <div class="card-body">
    <h5 class="card-title"><%= kitchen.title %></h5>
    <!-- <p class="card-text"><%= kitchen.description.truncate(50) %></p> -->
    <p class="card-text"><%= kitchen.address %></p>
    <%= yield %>
  </div>
</div>
