<div class="card border-0" style="width: 100%;">
    <% if kitchen.photos.any? %>
      <% kitchen.photos.each do |photo| %>
      <%= cl_image_tag photo.key, class: "card-img-top" %>
      <% end %>
    <% else %>
    <%= image_tag "kitchen_placeholder.jpg", class: "card-img-top" %>
    <% end %>
  <div class="card-body p-3">
    <h5 class="card-title m-0"><%= kitchen.title %></h5>
    <!-- <p class="card-text"><%= kitchen.description.truncate(50) %></p> -->
    <p class="card-text text-muted m-0"><%= kitchen.address %></p>
    <div class="short-line"></div>
    <%= yield %>
    <div class="short-line"></div>
    <p style="margin: 0px"><strong>Ratings: </strong>
      <% (kitchen.average_rating).times do %>
        <i class="fas fa-star"></i>
      <% end %>
      <% (5 - kitchen.average_rating).times do %>
        <i class="far fa-star"></i>
      <% end %>
      - <%= kitchen.reviews.count %>
      <% if kitchen.reviews.count == 1 %>
       <span>review</span>
      <% else %>
        <span>reviews</span>
      <% end %>
    </p>
  </div>
</div>
