<div class="container py-5">
    <div class="row my-5">
        <% @kitchens.each do |kitchen| %>
            <div class="col-md-4 py-2">
<<<<<<< HEAD
                <%= render 'card', kitchen: kitchen  do %>
                  <%= link_to "See more", kitchen, class: "btn btn-info" %>
                  <% if current_user.has_favorite?(kitchen) %>
                            <%= link_to favorite_path(current_user.has_favorite?(kitchen)), method: :delete, class: "bookmark" do %>
                            <%= image_tag("bookmark-solid.svg", alt: "current-favorite") %>
                            <% end %>
                            <% else %>
                            <%= link_to kitchen_favorites_path(kitchen) , method: :post, class: "bookmark" do %>
                            <%= image_tag("bookmark-regular.svg", alt: "no-favorite") %>
                            <% end %>
                        <% end %>
                <% end %>
=======
>>>>>>> master
            </div>
         <% end %>
    </div>
</div>
